<!DOCTYPE html>
<html>
<head>
  <title>AdminMenuBuilder</title>
  <%= stylesheet_link_tag    "admin_menu_builder/application", media: "all" %>
  <%= javascript_include_tag "admin_menu_builder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
